.ant-input-affix-wrapper {
  border-radius: 0%;
  font-size: 35px;
}
.title{
  text-align: center;
  font-size: 90px;
  font-weight: 550;
  color: #af2f2f26;
  margin: 0%;
}
.form-input {
  font-size: 35px;
  border-radius: 0%;
}

.ant-form-item {
  margin: 0%;
}

.iconDisible {
  font-size: 30px;
  color:rgb(216, 187, 187);
}

.iconVisible {
  font-size: 30px;
  color: black;
}
.empty-container{
  width: 40px;
}