.actions-container {
    display: flex;
    align-items: center;

    .actions-paragraph {
        margin-left: 2%;
    }

    .actions-buttons-container {
        margin-left: 10%;
        width: 40%;
        display: flex;
        justify-content: space-evenly;
    }

}

@media only screen and (max-width: 700px) {
    .actions-container {
        display: flex;
        flex-direction: column;

        .actions-buttons-container {
            margin: auto;
            display: flex;
        }

        .ant-btn {
            margin: 0% 2%;
        }

        .clear-button {
            margin: 5%;
        }

    }
}